<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<div class="container">

    <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel heading</h3>
        </div>
        <div class="panel-body">

            <form action="designer-finish.html" class="form-horizontal" role="form">

                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Status</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> occuper
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Disponible
                        </label>
                    </div>
                </div> <!-- form-group // -->

                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Titre</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Titre de Logement">
                    </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Название продукта</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" name="name" id="name" placeholder="superficie">
                    </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                    <label for="about" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
                        <textarea class="form-control"></textarea>
                    </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                    <label for="qty" class="col-sm-3 control-label">Prix</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" name="qty" id="qty" placeholder="Prix">
                    </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>

                    <div class="col-sm-3">
                        <label class="control-label small" for="date_finish">nombre de coloc</label>
                        <input type="number" class="form-control" name="date_finish" id="date_finish" placeholder="">
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label small" for="date_finish">nombre de chambres</label>
                        <input type="number" class="form-control" name="date_finish" id="date_finish" placeholder="">
                    </div>
                </div> <!-- form-group // -->
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Images</label>
                    <div class="col-sm-3">
                        <label class="control-label small" for="file_img">(jpg/png):</label> <input type="file"
                                                                                                    name="file_img">
                    </div>

                </div> <!-- form-group // -->
                <div class="form-group">
                    <label for="tech" class="col-sm-3 control-label">Type</label>
                    <div class="col-sm-3">
                        <select class="form-control">
                            <option value="">Выберите</option>
                            <option value="texnolog2">Технолог 2</option>
                            <option value="texnolog3">Технолог 3</option>
                        </select>
                    </div>
                </div> <!-- form-group // -->
                <hr>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </div> <!-- form-group // -->
            </form>

        </div><!-- panel-body // -->
    </section><!-- panel// -->


</div> <!-- container// -->
</body>
</html>