<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" >
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.css} "/>

    <title>Smasar.ma</title>
</head>
<body>
    <nav class="menu-container">
        <!-- burger menu -->
        <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span>

        <!-- logo -->
        <a href="index" class="menu-logo fa-home" >
            SRS.ma
        </a>

        <!-- menu items -->
        <div class="menu">
            <ul>
            </ul>
            <ul>
                <li>
                    <a href="signup">
                        Sign-up
                    </a>
                </li>
                <li>
                    <a href="login">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container search ">
        <div class="col">
            <div class="col-md-12">
                <div class="search-container">
                    <form action="" method="post">
                        <div class="col">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="sel1">Select list:</label>
                                    <select class="form-control" id="sel1" name="sel1">
                                        <option>Select</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="sel2">Select list:</label>
                                    <select class="form-control" id="sel2" name="sel2">
                                        <option>Select</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-md-6">
                                <button type="submit" class="btn" >Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container cards">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-small">
                    <div class="thumbnail">
                        <img alt="Opt alp thumbnail" src="img/home.jpeg">
                        <a href="#/Detail">
                            <div class="thumb-cover"></div>
                        </a>
                        <div class="details">
                            <div class="user">
                                <div class="user-photo">
                                    <img alt="Thumb" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                </div>
                                <div class="name">User </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="moving">
                            <a href="#Details">
                                <h3>Titre</h3>
                                <p>Description</p>
                            </a>
                            <b class="actions">
                                <a href="#/product/awesome-landing-page">Details</a>
                                <b class="separator">|</b>
                                <a class="blue-text" href="#/live/awesome-landing-page" target="_blank">Live Preview</a>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-small">
                    <div class="thumbnail">
                        <img alt="Opt alp thumbnail" src="img/home.jpeg">
                        <a href="#/Detail">
                            <div class="thumb-cover"></div>
                        </a>
                        <div class="details">
                            <div class="user">
                                <div class="user-photo">
                                    <img alt="Thumb" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                </div>
                                <div class="name">User </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="moving">
                            <a href="#Details">
                                <h3>Titre</h3>
                                <p>Description</p>
                            </a>
                            <b class="actions">
                                <a href="#/product/awesome-landing-page">Details</a>
                                <b class="separator">|</b>
                                <a class="blue-text" href="#/live/awesome-landing-page" target="_blank">Live Preview</a>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-small">
                    <div class="thumbnail">
                        <img alt="Opt alp thumbnail" src="img/home.jpeg">
                        <a href="#/Detail">
                            <div class="thumb-cover"></div>
                        </a>
                        <div class="details">
                            <div class="user">
                                <div class="user-photo">
                                    <img alt="Thumb" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                </div>
                                <div class="name">User </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="moving">
                            <a href="#Details">
                                <h3>Titre</h3>
                                <p>Description</p>
                            </a>
                            <b class="actions">
                                <a href="#/product/awesome-landing-page">Details</a>
                                <b class="separator">|</b>
                                <a class="blue-text" href="#/live/awesome-landing-page" target="_blank">Live Preview</a>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-small">
                    <div class="thumbnail">
                        <img alt="Opt alp thumbnail" src="img/home.jpeg">
                        <a href="#/Detail">
                            <div class="thumb-cover"></div>
                        </a>
                        <div class="details">
                            <div class="user">
                                <div class="user-photo">
                                    <img alt="Thumb" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                </div>
                                <div class="name">User </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="moving">
                            <a href="#Details">
                                <h3>Titre</h3>
                                <p>Description</p>

                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
    </div>
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                            <a href="#">Scanfcode</a>.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>