<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title >logements </title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/static/css/logements.css}">
</head>
<body>
<nav class=" bg-light navbar navbar-expand-sm sticky-top " >
    <a class="navbar-brand  mr-auto" href="#" style="color: #ff8000 ; padding-left:15%">Samssar.ma</a>
    <ul class="navbar-nav  " style="padding-right: 15%" >
        <li class="nav-item"  >
            <a class="nav-link"  href="#" style="color: #ff8000">Link 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: #ff8000">Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: #ff8000">Link 3</a>
        </li>
        <li class="nav-item ">
            <button  type="button" class="nav-link btn btn-success mr-2" href="#" style="color: #ff8000 ; color: white " >Log  in</button>
        </li>
        <li class="nav-item ">
            <button  type="button" class="nav-link btn btn-success" href="#" style="color: #ff8000 ; color: white" >Sign in</button>
        </li>
    </ul>
</nav>
<div class="card  mb-2 bg-dark ">
    <div style="padding-right: 20% ; padding-left: 20%" >
        <h1 class=" color-bar pl-3" style="color: white">Rechercher</h1>
            <form  th:action="@{/logement/rechercher}" class="card-body  ">
               <div class="input-group " >
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"  name="ville" th:value="${ville}" />
                <button type="submit" class="btn " style="background-color: #ff8000 ; color: white">search</button>

               </div>
            </form>
    </div>
</div>
<div class="container  ">
<div class="row pl-1">
    <div class="col-4"  th:each="logement:${listeDesLogements}">
    <div   class="card mt-2" >
        <img class="card-img-top" src="../img/home.jpeg" alt="Card image cap" style="width: 100%">
        <div class="card-body">
            <h5 th:text="${logement.titre}" class="card-title"></h5>
            <p th:text="${logement.description}" class="card-text"></p>
            <a href="#" class="btn " style="background-color: #ff8000 ; color: white">read more</a>
        </div>
    </div>
    </div>
</div>
    <ul class="pagination  justify-content-center mt-3">
        <li class="page-item" th:each="page,status:${pages}">
            <a th:class="${status.index==pagecourant?'btn btn-info ml-1' : 'btn btn-outline-info ml-1'}" th:text="${status.index}" th:href="@{/logement/rechercher(page=${status.index}, ville=${ville})}"  ></a>
        </li>
    </ul>
</div>
</body>
</html>